registry=https://registry.npmjs.org/
@rikrank:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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